<%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
  <div class="row">
    <div class="col12">
      <h1>Bem-vindo ao Fluxo</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="widget bg-warning text-white">
        <div class="row">
          <div class="col-4 fs20">
            <i class="fas fa-user-injured fa-3x"></i>
          </div>
          <div class="col-8 text-right">
            <span> Pacientes </span>
            <h2 class="font-bold"><%= Patient.count %></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="widget bg-danger text-white">
        <div class="row">
          <div class="col-4 fs20">
            <i class="fas fa-file-medical-alt fa-3x"></i>
          </div>
          <div class="col-8 text-right">
            <span> Processos </span>
            <h2 class="font-bold"><%= Proceeding.count %></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="widget bg-info text-white">
        <div class="row">
          <div class="col-4 fs20">
            <i class="fas fa-dizzy fa-3x"></i>
          </div>
          <div class="col-8 text-right">
            <span> Doenças </span>
            <h2 class="font-bold"><%= Disease.count %></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="widget bg-primary text-white">
        <div class="row">
          <div class="col-4 fs20">
            <i class="fas fa-hospital fa-3x"></i>
          </div>
          <div class="col-8 text-right">
            <span> Remédios </span>
            <h2 class="font-bold"><%= Medicine.count %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <h3>Processos nos últimos meses</h3>
      <%= area_chart Proceeding.group_by_month(:created_at).count %>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 col-md-3">
      <%= pie_chart Medication.group(:situation).count %>
    </div>
    <div class="col col-12 col-md-3">
      <%= pie_chart Medicine.group(:group).count %>
    </div>
  </div>
</div>
