<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @medicine.composition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medicine.description %>
</p>

<%= link_to 'Editar', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
