<div class="sb-sidenav-menu">
  <div class="nav">
    <%= link_to patients_path, class: "nav-link" do %>
      <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
      Pacientes
    <% end %>
    <%= link_to diseases_path, class: "nav-link" do %>
      <div class="sb-nav-link-icon"><i class="fas fa-dizzy"></i></div>
      Doenças
    <% end %>
    <%= link_to medicines_path, class: "nav-link" do %>
      <div class="sb-nav-link-icon"><i class="fas fa-hospital"></i></div>
      Remédios
    <% end %>
    <%= link_to proceedings_path, class: "nav-link" do %>
      <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
      Processos
    <% end %>
    <%= link_to defenses_path, class: "nav-link" do %>
      <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
      Defesas
    <% end %>
  </div>
</div>