<p id="notice"><%= notice %></p>

<h1>Medications</h1>

<table>
  <thead>
    <tr>
      <th>Disease</th>
      <th>Medicine</th>
      <th>Situation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medications.each do |medication| %>
      <tr>
        <td><%= medication.disease %></td>
        <td><%= medication.medicine %></td>
        <td><%= medication.situation %></td>
        <td><%= link_to 'Ver', medication %></td>
        <td><%= link_to 'Editar', edit_medication_path(medication) %></td>
        <td><%= link_to 'Excluir', medication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medication', new_medication_path %>
