<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disease.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @disease.description %>
</p>

<p>
  <strong>Cid:</strong>
  <%= @disease.cid %>
</p>

<%= link_to 'Editar', edit_disease_path(@disease) %> |
<%= link_to 'Back', diseases_path %>
