<div class="container-fluid">
  <h1>Pacientes</h1>
  <p id="notice"><%= notice %></p>
  <div class="row">
    <%= link_to 'Novo paciente', new_patient_path, class: 'btn btn-primary' %>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>CPF</th>
            <th>RG</th>
            <th>CEP</th>
            <th>Cidade</th>
            <th>Rua</th>
            <th>Bairro</th>
            <th>Estado</th>
            <th>Número</th>
            <th>Complemento</th>
            <th>Nacionalidade</th>
            <th>Estado civil</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @patients.each do |patient| %>
          <tr>
            <td><%= patient.name %></td>
            <td><%= patient.cpf %></td>
            <td><%= patient.rg %></td>
            <td><%= patient.cep %></td>
            <td><%= patient.city %></td>
            <td><%= patient.street %></td>
            <td><%= patient.district %></td>
            <td><%= patient.state %></td>
            <td><%= patient.number %></td>
            <td><%= patient.complement %></td>
            <td><%= patient.nacionality %></td>
            <td><%= patient.civil_status %></td>
            <td><%= link_to 'Ver', patient %></td>
            <td><%= link_to 'Editar', edit_patient_path(patient) %></td>
            <td><%= link_to 'Excluir', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>